.page_columns					{ clear:both; }
.page_columns:after				{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.page_col						{ float:left; margin-left:2%; }
* > .page_col:first-of-type		{ margin-left:0; }
.cols_2							{ width:48%; }
.cols_3							{ width:32%;  }
#page_left						{ float:left; width:70%; }
#page_right						{ float:right; width:27%; padding:0 0 0 2%; border-left:2px solid #ccc; }

@media(max-width:800px){
	#page_right					{ padding:20px 0 0; margin:20px 0 0; border-left:none; border-top:2px solid #ccc; }
}