.page_columns					{ clear:both; display:flex; justify-content:space-between; align-items:flex-start; }
.page_col						{ width:100%; }
.page_col:after					{ content:"."; display:block; height:0; clear:both; zoom:1; visibility:hidden; }
.cols_2							{ max-width:48%; }
.cols_3							{ max-width:32%;  }
#sidebar-layout					{ display:flex; justify-content:space-between; align-items:stretch; }
#sidebar-layout > *				{ display:block; width:100%; }
#page_left						{ max-width:70%; }
#page_right						{ max-width:27%; padding:0 0 0 2%; border-left:2px solid #ccc; }

@media(max-width:800px){
	#sidebar-layout				{ flex-direction:column; }
	#page_left					{ max-width:none; }
	#page_right					{ max-width:none; padding:20px 0 0; margin:20px 0 0; border-left:none; border-top:2px solid #ccc; }
	.page_columns				{ flex-direction:column; }
	.page_col					{ max-width:none; margin:0; }
}
