.page_col						{ float:left; margin-left:2%; }
.page_col:first-child			{ margin-left:0; }
.cols_2							{ width:48%; }
.cols_3							{ width:32%;  }
#page_left						{ float:left; width:70%; }
#page_right						{ float:right; width:27%; padding:2%; border:1px #e2e2e2 solid;
								background: rgb(234,234,234); /* Old browsers */
								background: -moz-linear-gradient(-45deg,  rgba(234,234,234,1) 0%, rgba(255,255,255,1) 50%, rgba(234,234,234,1) 100%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(-45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(-45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
								background: -ms-linear-gradient(-45deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(234,234,234,1) 100%); /* IE10+ */
								background: linear-gradient(135deg,  rgba(234,234,234,1) 0%,rgba(255,255,255,1) 50%,rgba(234,234,234,1) 100%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
								}
#rotating_images				{ position: relative; width: 100%; height: auto; overflow: hidden; text-align: center; margin-bottom: 20px; }
#rotating_images img			{ width: 100%; height: auto; position: absolute; top: 0; left: 0; }