
.ss-loading-screen:before					{ content:url('/iq-basepages/images/branding/cms_loading.png') !important; }
.cms-sitename .cms-sitename__link			{ background-image:url('/iq-basepages/images/branding/cms_logo.png') !important; }

#wp-login									{ width:300px; padding:30px; border:1px #aaaaaa solid; background:#eeeeee; }
#wp-login h1								{ width:274px; height:63px; text-indent:-99999px; overflow:hidden; display:block; background:url(/iq-basepages/images/wordpress-logo.png) no-repeat center top; margin:0 auto 30px; }
#wp-login a									{ width:63px; height:31px; text-indent:-99999px; overflow:hidden; display:block; background:url(/iq-basepages/images/wordpress-login.png) no-repeat center top; margin:0 auto; }

.field.optionset ul.vertical li 			{ display:block; float:none; }

.tree-holder.jstree-apple li.notinmenu > a, 
.tree-holder.jstree-apple li.notinmenu > a:link, 
.cms-tree.jstree-apple li.notinmenu > a, 
.cms-tree.jstree-apple li.notinmenu > a:link	{ color:#56aae3; }

p.monotype,
span.monotype,
input.monotype,
textarea.monotype								{ font-family:'courier'; }

textarea.monotype,
textarea.monotype:focus							{ background:#000; color:#FAFF4D; }

/*-- GridField Style Updates --*/
table.grid-field__table								{ margin-bottom:30px; }
table.grid-field__table tr.grid-field__title-row		{ background:#efefef; border-top:1px solid #ddd; }
table.grid-field__table tr.sortable-header			{ background:#ddd; border-bottom:1px solid #fff; }
table.grid-field__table tr.sortable-header > th		{ border-left:1px solid #fff; }
table.grid-field__table .sortablerowsheading			{ background:#ddd; }
table.grid-field__table .bottom-all					{ background:#ddd; }



